<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>帐单列表</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"
      rel="stylesheet"
    />
    <style>
      label {
        font-weight: normal;
      }
      .panel-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .panel-body .glyphicon-remove{
        display: none;
      }
      .panel-body:hover .glyphicon-remove{
        display: inline-block
      }
      .right-btn {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
      }
      .panel-body .glyphicon-remove {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          <div class="row">
            <h2 class="col-xs-6">记账本</h2>
            <h2 class="col-xs-6 right-btn text-right">
              <a href="/account/create" class="btn btn-primary">添加账单</a>
              <a href="/logout" class="btn btn-danger">退出登录</a>
            </h2>
          </div>
          <hr />
          <div class="accounts">
            <% accounts.forEach(item => { %>
            <div class="panel <%= item.type === -1 ? 'panel-danger' : 'panel-success'  %>">
              <div class="panel-heading"><%= new Date(item.time).toLocaleString() %></div>
              <div class="panel-body">
                <div class="col-xs-6"><%= item.title %></div>
                <div class="col-xs-2 text-center">
                  <span class="label <%= item.type === -1 ? 'label-warning' : 'label-success'  %>"><%= item.type === -1 ? '支出' : '收入'  %></span>
                </div>
                <div class="col-xs-5 text-center"><%= item.account %>元</div>
                <div class="col-xs-1 text-right">
                  <a href="/remove/<%= item.id %>">
                    <span
                      class="glyphicon glyphicon-remove"
                      aria-hidden="true"
                    ></span>
                  </a>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
